.container {
    width: 50%;
    margin-bottom: 0.2rem;

}
.video {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:  transform 250ms ease-in;
    border: 1px solid lightgray;
}

.video:hover {
    transform:  scale(1.02);
}

.thumbnail {
    width : 40%
}

.title,
.channel {
    margin: 0;
}

.channel {
    font-size: 0.9rem;
}